<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="quiz-container">
    <h2>Quesion <%= index %>/10</h2><br>
        <h3><%= questionData.question %></h3>
        <form action="/quiz" method="POST">
            <% questionData.options.forEach(option => { %>
                <label>
                    <input type="radio" name="answer" value="<%= option %>" required>
                    <%= option %>
                </label><br>
            <% }) %>
            <button type="submit">Next</button>
        </form>
    </div>
</body>
</html>